.game-letters {
  width: 324px;
  display: flex;
  column-gap: 8px;
  row-gap: 24px;
  margin-top: 118px;
  flex-wrap: wrap;

  button {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -2%;
    color: #261676;
    padding: 10px;
    border-radius: 8px;
    border: 0;
  }
}

.health-bar {
  border: 1px solid gray;
  border-radius: 20%;
  height: 16px;
  width: 57px;
}

.w3-grey {
  border: 1px solid gray;
  background: #261676;
  height: 10px;
  width: 100%;
}

.game-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 46px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 16px;
  img {
    height: 26px;
    width: 24px;
  }
  h5 {
    color: white;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.5%;
    text-align: center;
  }
}

.game-container {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  margin-block: 76px 118px;
}

.empty-box {
  height: 66px;
  width: 40px;
  background-color: rgba(36, 99, 255, 1);
  border-radius: 12px;
  opacity: 25%;
  box-shadow: 0px 1px 0px 6px rgba(60, 116, 255, 1) inset;
  box-shadow: 0px -2px 0px 3px rgba(20, 14, 102, 1) inset;
}

.correct-box {
  height: 66px;
  width: 40px;
  background-color: rgba(36, 99, 255, 1);
  border-radius: 12px;
}

.hang-area {
  color: transparent;
  text-align: center;
  font-size: 40px;
}

.correct {
  color: white;
  text-align: center;
  font-size: 40px;
}

/* dialog */

.game-dialog {
  margin: auto;
  border: none;
  border-radius: 72px;
  background: linear-gradient(to bottom, #2e3aff, #1e1e80);
  padding: 40px 30px;
  width: 324px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding-top: 120px;
}

.game-dialog img {
  position: absolute;
}

.game-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog-btns {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dialog-btns button {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  color: white;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.btn.blue {
  background: linear-gradient(to right, #3a8dff, #376eff);
}

.btn.pink {
  background: linear-gradient(to right, #ff5d9e, #f063dd);
}
