.how-to-play-area {
  margin-block: 32px 60px;
}

.how-to-play-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  img {
    width: 40px;
    height: 40px;
  }
  h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    background: linear-gradient(180deg, #67b6ff 16.42%, #ffffff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #243041;
  }
}

.card {
  background: #ffffff;
  border-radius: 20px;
  padding: 32px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  margin-bottom: 24px;

  h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #261676;
  }
  span {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #2463ff;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #887dc0;
    grid-column: 2 span;
  }
}

@media (width >= 768px) {
  .how-to-play-header h1 {
    text-align: center;
    margin-inline: auto;
    font-weight: 400;
    font-size: 104px;
    line-height: 120%;
    letter-spacing: -0.5%;
  }
  .how-to-play-header img {
    height: 54px;
    width: 54px;
  }
}

@media (width >= 1440px) {
  .card-area {
    display: flex;
    gap: 32px;
    justify-content: center;
  }
  .card span {
    font-weight: 400;
    font-size: 88px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  .card h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 5%;
    text-align: center;
  }
  .card p {
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 5%;
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    min-width: 384px;
  }
}
